<div class="page_title"><%= page.title %></div>
<div class="page_time"><%= page.date.format() %></div> 
<div class="page_update"><span class="page_updated"><%= __("Updated") %></span> <span class="page_update_time"><%= page.updated.format() %></span></div>
<div class="page_excerpt"> </div>
<div class="page_content"><%- page.content %></div>
